services:
  kafka:
    image: confluentinc/cp-kafka:7.7.7
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      # Vai trò: Vừa là Broker chứa data, vừa là Controller quản lý metadata (thay Zookeeper)
      KAFKA_PROCESS_ROLES: broker,controller
      # Danh sách các node tham gia bầu chọn Controller (ở đây chỉ có 1 node)
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:29093'

      # Cấu hình Listeners
      # - CONTROLLER: Cổng giao tiếp nội bộ cho metadata
      # - PLAINTEXT: Cổng giao tiếp nội bộ docker (cho Connect, UI)
      # - PLAINTEXT_HOST: Cổng ra máy host (cho bạn code từ bên ngoài)
      KAFKA_LISTENERS: PLAINTEXT://kafka:29092,CONTROLLER://kafka:29093,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

      # ID của Cluster (bắt buộc với KRaft).
      # Đây là base64 UUID ngẫu nhiên, bạn giữ nguyên chuỗi này để Docker ko lỗi format storage
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      CLUSTER_ID: 'MkU3OEVBNTcwNTJENDM2Qk'
  postgres:
    image: postgres:15.15-trixie
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=nest
    command: ["postgres", "-c", "wal_level=logical"]
  kafka-connect:
    build:
      context: ./kafka-connect
    ports:
      - "8083:8083"
    depends_on:
      - kafka
      - postgres
      - elasticsearch
    environment:
      - BOOTSTRAP_SERVERS=kafka:29092
      - GROUP_ID=1
      - CONFIG_STORAGE_TOPIC=my_connect_configs
      - OFFSET_STORAGE_TOPIC=my_connect_offsets
      - STATUS_STORAGE_TOPIC=my_connect_statuses
      - KEY_CONVERTER=org.apache.kafka.connect.json.JsonConverter
      - VALUE_CONVERTER=org.apache.kafka.connect.json.JsonConverter
#      - ENABLE_DEBEZIUM_SCRIPTING=true
  elasticsearch:
    image: elasticsearch:8.19.9
    ports:
      - "9200:9200"
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
    depends_on:
      - kafka